odd/b-vg.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:eg="http://www.tei-c.org/ns/Examples"
   xmlns:egXML="http://www.tei-c.org/ns/Examples" xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
   xmlns:tei="http://www.tei-c.org/ns/1.0" xml:lang="de">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>Die Entstehung des Bundes‐Verfassungsgesetzes 1920</title>
            <author xml:id="CFH">Carl Friedrich Haak</author>
            <author xml:id="PA">Peter Andorfer</author>
         </titleStmt>
         <publicationStmt>
            <p>Unveröffentlichte, interne Arbeitsversion.</p>
         </publicationStmt>
         <sourceDesc>
            <p>Born digital.</p>
         </sourceDesc>
      </fileDesc>
      <revisionDesc>
         <listChange>
            <change when="2023-09-01" who="#CFH" status="draft">beginne mit Basis</change>
         </listChange>
      </revisionDesc>
   </teiHeader>
   <text>
      <body>
         <head>Überblick</head>
         <p>Dieses TEI ODD umfasst die Editionsrichtlinen und Datenmoddelierung für das Projekt »Die
            Entstehung des Bundes‐Verfassungsgesetzes 1920«</p>
         <div xml:id="introduction">
            <head>Einführung</head>
            <p>Es werden die einzelnen Aspekte des Edierens in den Blick genommen sowie die
               entsprechende Modellierung des Textes mit TEI XML anhand von Beispielen erläutert.
               Außerdem wird beschrieben, wie man die Modellierung mit der Editionsumgebung im
               Oxygen-Editor vornimmt.</p>
            <p>Diese Datei wird laufend weiterentwickelt und aktualisiert. Vorschläge zur Anpassung
               von allen Seiten sind willkommen.</p>
            <p>Stand: September 2023</p>
         </div>
         <div xml:id="ocr">
            <head>Workflow Texterfassung</head>
            <p>Nachdem die gescanten Dokumente auf goobi gesammelt wurden, werden sie in Transkribus
               semiautomatisch transkribiert. Ziel dieses Schrittes ist möglichst alle basalen
               textuellen Informationen zu sichern, typografisce und strukturelle Informationen
               können ignoriert werden. Der edierte Text wird in diesem Arbeitschritt also zunächst
               als Buchstabenkette betrachtet.</p>
            <p>Nach erfolgter Transkription wird der Text automatisiert in einem Export-Repository
               verfügbar gemacht. Bearbeiter:Innen wählen einen unbearbeiteten Text und kopieren ihn
               in das Repository für manuelle Korrekturen und das tagging. In diesem
               Bearbeitungsschritt werden unter anderem<list>
                  <item>die semantischen Strukturelemente des Dokuments codiert</item>
                  <item>Entitäten – wie Personen, Orte und Texte – mit den Indizes / externen
                     Quellen verlinkt</item>
                  <item>Metadaten erzeugt werden</item>
                  <item>die Transkriptionen der Dokumente auf Integrität überprüft</item>
               </list></p>
            <p>Der Stand der Bearbeitung wird in den Metadaten festgehalten. Wenn der
               Bearbeitungsstand eines Dokumentes auf abgeschlossen gesetzt ist und das Dokument zur
               ›Publikation‹ freigegeben wird, wird es automatisiert auf der Website publiziert.</p>
         </div>
         <div xml:id="oxygen">
            <head>Arbeiten im Oxygen XML Editor</head>
            <p>Das wichtigste Tool zur Arbeit mit und in den XML-Dateien ist der Oxygen XML Editor. </p>
            <div xml:id="xml">
               <head>Kurzüberblick XML</head>
               <p>Bei XML (kurz für <hi rend="bold">eXtensible Markup Language</hi>) handelt es sich
                  um eine Auszeichnungssprache, die zur hierachischen und eindeutigen Darstellung
                  von Daten in Texten dient. Es bietet also eine einfache Möglichkeit, in Texten
                  enthaltene Informationen explizit und einheitlich zu kennzeichnen. Dies geschieht
                  unabhängig von deren graphischer Präsentation. Die Auszeichnung erfolgt in
                  Reintext, was XML sowohl menschen- als auch maschinenlesbar macht.</p>
               <p>Die konkrete Auszeichnung wird mithilfe von <hi rend="bold">Tags</hi> vorgenommen.
                  Sie stehen in spitzen Klammern (&lt;...&gt;) und sollen der gekennzeichneten
                  Information eine konkrete und einheitliche Bezeichnung geben. Tags treten entweder
                  als Tag-Paare auf, die einen bestimmten Textabschnitt umschließen
                  (&lt;starttag&gt; ... &lt;/endtag&gt;) oder als selbstschließende Tags, die bspw.
                  im Falle von Seitenumbrüchen die entsprechende Stelle im Text explizit
                  kennzeichnen (&lt;tag/&gt;). Die Kombination aus Start-Tag, Textabschnitt und
                  End-Tag wird als <hi rend="bold">Element</hi> bezeichnet, ein selbstschließendes
                  Tag hingegen als <hi rend="bold">leeres Element</hi>. <hi rend="bold"
                     >Attribute</hi> ermöglichen eine Konkretisierung der ausgezeichneten Textstelle
                  durch Hinzufügen zusätzlicher Informationen. Sie werden innerhalb des Start-Tags
                  notiert und bestehen aus einem Attributnamen, der die Zusatzinformation
                  klassifiziert, und einem Attributwert, der in Anführungszeichen angegeben wird
                  (&lt;starttag attributname="attributwert"&gt;).</p>
               <p><hi rend="bold">Beispiel:</hi> Die Auszeichnung eines Kommentars erfolgt durch ein
                     <gi> note</gi>-Tag. Dieses klassifiziert die Textstelle allgemein als eine
                  Anmerkung jeglicher Art. Um diese Infomation zu konkretisieren, können nun
                  Attribute hinzugefügt werden. Handelt es sich also um eine editorische Anmerkung
                  wird dem Tag, das Attribut <att>type</att>="<val>editorial</val>" hinzugefügt;
                  eine Anmerkung auf dem Textträger erhält hingegen das Attribut
                     "<val>original</val>". Das vollständige Element lautet wiefolgt: <tag>note
                     type="editorial"</tag> bzw. <tag>note type="original"</tag>.</p>
               <p>Die Grundstruktur von XML zeichnet sich vor allem durch zwei Aspekte aus:
                  Verschachtelung und Hierarchisierung. Sie wird allgemein als <hi rend="bold"
                     >Baumstruktur</hi> bezeichnet. Elemente können innerhalb von anderen Elementen
                  stehen - sie sind also teils über mehrere Ebenen ineinander verschachtelt - dürfen
                  sich jedoch nicht überlappen. Jedes Element, das innerhalb eines Elements steht,
                  muss innerhalb dessen auch wieder geschlossen werden (z.B. &lt;starttag1
                  attribut="attributwert"&gt;...&lt;starttag2&gt;...&lt;endtag2&gt;...&lt;endtag1&gt;).</p>
               <p>Der größte Vorteil von XML liegt wohl in dessen Anpassbarkeit. Da es selbst keine
                  Vorgaben zur genauen Benennung oder Strukturierung der Tags und Attribute
                  festlegt, lassen sich diese für die Bedürfnisse unterschiedlichster
                  Forschungsvorhaben anpassen und erweitern. Dennoch existieren bereits zahlreiche
                  Standards, die für die als Grundlage für die Arbeit mit XML verwendet und
                  angepasst werden können (z.B. der Standard der <ref target="https://tei-c.org"
                     >Text Encoding Initiative (TEI)</ref>). Aus Erfahrung lässt sich jedoch sagen,
                  dass die Anpassung der Auszeichungen ein gewisses Maß an Komplexität nicht
                  übersteigen sollte, da mit steigender Komplexität auch Bearbeitungszeit und
                  Fehlerquote steigen.</p>
               <p>Ob ein XML-Dokument ›korrekt‹ ist lässt sich auf zwei Ebenen übreprüfen. Allgemein
                  sollten alle Elemente korrekt ineinander verschachtelt sein, also die
                  grammatischen Regeln der XML eingehalten werden. Ein Dokument, dass diesen Reglen
                  entspricht, gilt als "wohlgeformt". Konkrete Regeln werden jeweils mittels eines
                     <hi rend="bold">XML-Schemas</hi> festgelegt, gegen das validiert wird.
                  Entspricht ein XML-Dokument den Vorgaben des Schemas gilt es als "valide".</p>
               <p>
                  <hi rend="smaller">Quellen: Vogeler, Georg/Sahle/Patrick: XML. In: Jannidis,
                     Fotis/Kohle, Hubertus/Rehbein, Malte (Hg.): Digital Humanities. Eine
                     Einführung. Stuttgart, 2017, S. 128-146; <ref
                        target="https://www.w3schools.com/xml/default.asp">XML Tutorial,
                        w3Schools</ref>.</hi>
               </p>
            </div>
         </div>
         <div xml:id="structure">
            <head>Daten-/Dokumentenstruktur</head>
            <p>Die digitale Edition der Dokumente basiert auf den Standards der <ref
                  target="https://tei-c.org">Text Encoding Initiative (TEI)</ref></p>
            <div xml:id="metadata_text">
               <head>Metadaten</head>
               <p><hi rend="bold">Metadaten</hi> zu den Dokumenten und ihren Texten stehen im
                     <gi>teiHeader</gi>, dazu zählen Informationen zu den einzelnen Dokumenten, zu
                  ihrer Entstehung und Beschaffenheit oder ihrer editorischen
                  Erschließung/Bearbeitung. Eine Vielzahl der im TEI-Header vermerkten Informationen
                  wird automatisch generiert oder automatisch anderen Quellen (vor allem goobi)
                  entnommen.</p>
               <p>Die Struktur des <gi>teiHeader</gi> gestaltet sich wie folgt:</p>
               <egXML xmlns="http://www.tei-c.org/ns/Examples">
                  <teiHeader>
                     <fileDesc>
                        <titleStmt>
                           <title type="main">Kelsen Entwurf I</title>
                           <title type="sub">Die Entstehung des Bundes-Verfassungsgesetzes
                              1920</title>
                           <principal>
                              <persName role="acdh:hasPrincipialInvestigator">Olechowski,
                                 Thomas</persName>
                           </principal>
                           <funder>
                              <name>FWF - Der Wissenschaftsfonds</name>
                              <address>
                                 <street>Sensengasse 1</street>
                                 <postCode>1090 Wien</postCode>
                                 <placeName>
                                    <country>A</country>
                                    <settlement>Wien</settlement>
                                 </placeName>
                              </address>
                           </funder>
                           <respStmt>
                              <resp>Digitalisierung (Fotografieren) des Archivmaterials</resp>
                              <persName role="acdh:hasDigitisingAgent">Lein, Richard</persName>
                           </respStmt>
                           <respStmt>
                              <resp>Digitalisierung (Fotografieren) des Archivmaterials</resp>
                              <persName role="acdh:hasDigitisingAgent">Gassner, Miriam</persName>
                           </respStmt>
                           <respStmt>
                              <resp>XML/TEI Datenmodellierung und Datengenerierung</resp>
                              <persName role="acdh:hasContributor"
                                 key="https://orcid.org/0000-0002-9575-9372">Peter
                                 Andorfer</persName>
                           </respStmt>
                           <respStmt>
                              <resp>XML/TEI Datenmodellierung und Datengenerierung</resp>
                              <persName role="acdh:hasContributor"
                                 key="https://orcid.org/0009-0006-7740-542X">Carl Friedrich
                                 Haak</persName>
                           </respStmt>
                        </titleStmt>
                        <publicationStmt>
                           <publisher>
                              <orgName key="https://d-nb.info/gnd/1226158307">Austrian Centre for
                                 Digital Humanities and Cultural Heritage an der Österreichischen
                                 Akademie der Wissenschaften</orgName>
                           </publisher>
                           <publisher>
                              <orgName key="https://d-nb.info/gnd/1026192285">Universität Wien.
                                 Institut für Rechts- und Verfassungsgeschichte</orgName>
                           </publisher>
                           <pubPlace ref="http://d-nb.info/gnd/4066009-6">Vienna</pubPlace>
                           <date when="2023">2023</date>
                           <availability>
                              <licence target="https://creativecommons.org/licenses/by/4.0/">
                                 <p>The Creative Commons Attribution 4.0 International (CC BY 4.0)
                                    License applies to this text.</p>
                                 <p>The CC BY 4.0 License also applies to this TEI XML file.</p>
                              </licence>
                           </availability>
                           <idno type="transkribus_doc">1529199</idno>
                           <idno type="transkribus_collection">195363</idno>
                        </publicationStmt>
                        <sourceDesc>
                           <msDesc type="invetory">
                              <msIdentifier>
                                 <institution key="https://d-nb.info/gnd/37748-X">Österreichisches
                                    Staatsarchiv</institution>
                                 <repository key="https://d-nb.info/gnd/1601181-8">Archiv der
                                    Republik (Wien)</repository>
                                 <idno type="archive">AdR, Büro Seitz, Karton 7</idno>
                              </msIdentifier>
                              <msContents>
                                 <msItem>
                                    <author role="acdh:hasAuthor">Kelsen, Hans</author>
                                    <title>Kelsen Entwurf I</title>
                                 </msItem>
                              </msContents>
                              <physDesc>
                                 <objectDesc form="">
                                    <ab>Kelsen I (Titel des Dokuments "Entwurf I"), Zustand gut,
                                       keine Anmerkungen, 126 Artikel</ab>
                                 </objectDesc>
                                 <handDesc>
                                    <ab/>
                                 </handDesc>
                              </physDesc>
                              <history>
                                 <origin from="1919-05-01" to="1919-11-30">Zwischen Mai und November
                                    1919</origin>
                              </history>
                           </msDesc>
                        </sourceDesc>
                     </fileDesc>
                     <profileDesc>
                        <abstract>
                           <ab/>
                        </abstract>
                        <creation>
                           <date from="1919-05-01" to="1919-11-30">Zwischen Mai und November
                              1919</date>
                        </creation>
                     </profileDesc>
                     <revisionDesc status="draft">
                        <change>Strutktur erfasst</change>
                        <change>Entitäten verlinkt.</change>
                     </revisionDesc>
                  </teiHeader>
               </egXML>
               <div xml:id="revision">
                  <head>Status des Dokuments, Arbeitsstand</head>
                  <p>Der Status der Bearbeitung des gesamten Dokuments wird in der
                        <gi>revisionDesc</gi> im Attribut <att>status</att> notiert. Ist das
                     Dokument noch in Bearbeitung, hat <att>status</att> den Wert <val>draft</val>.
                     Sind alle Arbeitsschritte für das Dokument abgeschlossen, hat <att>status</att>
                     den Wert <val>done</val>. Wird der bearbeitungsstand eines Dokumentes auf
                        <val>done</val> gesetzt, wird es automatisiert auf der Website
                     publiziert.</p>
                  <p>Es emfpiehlt sich, erfolgte Arbeitsschritte mittel der <gi>change</gi>-Elemente
                     zu notieren, um einen Überblick über den Bearbeitungsstand zu bieten.</p>
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <revisionDesc status="draft">
                        <change>Strutktur erfasst</change>
                        <change>Entitäten verlinkt.</change>
                     </revisionDesc>
                  </egXML>
               </div>
            </div>
            <div xml:id="structure_text">
               <head>Haupttexte</head>
               <p>Haupttexte umfassen den tatsächlichen Text der edierten Dokumente.</p>
               <div xml:id="content_text">
                  <head>Grundstruktur</head>
                  <p><hi rend="bold">Dokumenttexte</hi> stehen unmittelbar nach dem
                        <gi>teiHeader</gi> innerhalb eines <gi>text</gi>-Elements, das den Beginn
                     und das Ende des Werkstextes im XML-Dokument markiert. Der eigentliche
                     Textinhalt steht wiederum in einem <gi>body</gi>-Element. </p>
                  <div>
                     <head>Der Inhalt</head>
                     <p>Der inhaltliche Haupttext findet sich im <gi>body</gi> eines XML-Dokuments,
                        innerhalb eines <gi>div</gi>-Elements mit dem
                           <att>type</att>=<val>main</val>. Ein Haupttext beginnt in der Regel mit
                        einem Titel <gi>head</gi>. Die einzelnen Texte sind in sich selbst
                        vielfältig Baumartig strukturiert. Neben losen, allgemein bestimmten
                        Struktureinheiten wie Kapiteln, Abschnitten und Unterabschnitten, existieren
                        kleinere spezifische Strukturelemente wie Artikel, Absätze und Ziffern.</p>
                  </div>
               </div>
               <div>                  
                  <head>Abschnitte und Unterabschnitte</head>
                  <p>Der Dokumententext wird im <gi>text</gi> inklusive aller Abschnitte in
                        <gi>div</gi>-Elementen erfasst. <gi>div</gi>-Elementen, die einen größeren
                     Dokumentenabschnitt repräsentieren, erhalten den
                        <att>type</att>="<val>section</val>"</p>
                  <p>Die Dokumente sind jedoch tiefer als auf nur einer Ebene strukturiert: sie
                     enthalten teilweise komplexe verschachtelte Strukturen mit Abschnitten,
                     Unterabschnitten, Unter-Unterabschnitten etc. Um dies zu codieren, können
                        <gi>div</gi>-Element verschachtelt werden.</p>
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <text>
                        <body>
                           <div type="main">
                              <head>Titel des Dokuments</head>
                              <p>irgendein Text</p>
                              <div type="section">
                                 <head>Titel des ersten Abschnitts</head>
                                 <p>irgendein Text</p>
                                 <div type="section">
                                    <head>Titel des Unterabschnitts I.A </head>
                                    <p>irgendein Text</p>
                                 </div>
                              </div>
                              <div type="section">
                                 <head>Titel des zweiten Abschnitts</head>
                                 <p>irgendein Text</p>
                                 <div type="section">
                                    <head>Titel des Unterabschnitts II.A </head>
                                    <p>irgendein Text</p>
                                    <div type="section">
                                       <head>Titel des Unter-Unterabschnitts II.A.a </head>
                                       <p>irgendein Text</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </body>
                     </text>
                  </egXML>
                  <p>Jedes <gi>div</gi>-Element muss über eine <att>xml:id</att>, verfügen, die der
                        <ref target="#structure_ids">Identifikatoren-Gesamtsystematik</ref> folgt.
                     Ids sollten ausschließlich über die im Schema angebotene Funktionalität
                     automatisch generiert werden.</p>
               </div>
               <div>
                  <head>Artikel</head>
                  <p>Da viele der Edierten Dokumente ebenfalls über Artikel verfügen, werden diese
                     ebenfalls mittels <gi>div</gi>-Elementen erfasst. Da unterhalb der Artikel
                     keine Strukturelemente existieren, die mittels <gi>div</gi>-Elementen erfasst
                     werden, ist eine Angabe der Struktur-Ebene mittels eines
                     <att>n</att>-Attributes nicht nötig. Dass es sich um Artikel handelt wird
                     mittels <att>type</att>="<val>aricle</val>" markiert.</p>
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <body>
                        <div type="main"> [Umfasst das einzelne Werk im Gesamten] <div
                              type="section">
                              <head>Abschnitt I. </head>
                              <div ana="article">
                                 <head>Artikel XVII. </head>
                                 <p>Gesetzesbeschlüsse der Landtage oder des Wiener Gemeinderates
                                    <lb/>können wegen Verfassungswidrigkeit (Artikel 6 - 14 ) von
                                    der <lb/>Staatsregierung binnen 14 Tagen nach Einlangen der
                                    Mitteilung <lb/>und wenn gegen diese Beschlüsse im Sinne des
                                    Artikels XVI zu- <lb/>nächst eine Vorstellung erhoben worden
                                    ist, nach Ablauf weiterer <lb/>14 Tage beim
                                    Verfassungsgerichtshofe angefochten werden; diese
                                    <lb/>Anfechtung ist der Landesregierung unverzüglich auf dem
                                    kürzesten <lb/>Wege mitzuteilen.</p>
                              </div>
                           </div>
                        </div>
                     </body>
                  </egXML>
                  <p>Jedes <gi>div</gi>-Element muss über eine <att>xml:id</att>, verfügen, die der
                        <ref target="#structure_ids">Identifikatoren-Gesamtsystematik</ref> folgt.
                     Ids sollten ausschließlich über die im Schema angebotene Funktionalität
                     automatisch generiert werden.</p>
               </div>
               <div>
                  <head>Absätze</head>
                  <p>Der Text innerhalb von <gi>div</gi>-Elementen ist in <gi>p</gi>-Elementen
                     strukturiert. Ein solches Element markiert entweder einen Absatz (typographisch
                     markiertes Strukturelement eines Prosatextes) oder einen Paragraphen (ein
                     Absatz als Strukturelement eines Gesetzestextes).</p>
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <body>
                        <div>
                           <p>[Absatz]</p>
                           <p>[Absatz]</p>
                        </div>
                     </body>
                  </egXML>
                  <p>Jedes <gi>p</gi>-Element außerhalb von <gi>note</gi> hat eine
                     <att>xml:id</att>, die der <ref target="#structure_ids"
                        >Identifikatoren-Gesamtsystematik</ref> folgt. Ids sollten ausschließlich
                     über die im Schema angebotene Funktionalität automatisch generiert werden.</p>
               </div>
               <div>
                  <head>Listen und Ziffern</head>
                  <p>Listen werden mit einem <gi>list</gi>-Element kodiert, jeder Listenpunkt
                     wiederum mit einem <gi>item</gi>-Element umschlossen.<lb/>Listentitel werden
                     durch ein <gi>head</gi>-Element ohne weitere Attribute gekennzeichnet. Es steht
                     an erster Stelle (first child) innerhalb des
                     <gi>list</gi>-Elements.<lb/>Listenelemente können zusätzlich verschachtelt
                     werden, sprich ein Listenpunkt <gi>item</gi> kann eine untergeordnete Liste
                     enthalten.</p>
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <list>
                        <head>Listentitel</head>
                        <item>Inhalt des Listenpunktes</item>
                        <item>Inhalt des Listenpunktes <list>
                              <item>verschachtelter Listenpunkt</item>
                           </list>
                        </item>
                     </list>
                  </egXML>
                  <p>Mit Ziffern versehene Aufzählungen innheralb der Paragraphen werden ebenfalls
                     auf die oben beschriebene Weise mittels <gi>list</gi>-Element kodiert, jeder
                     Ziffer wird als Listenpunkt (<gi>item</gi>) codiert.</p>
               </div>
               <div>
                  <head>Tabellen</head>
                  <p>Tabellen werden mit einem <gi>table</gi>-Element gekennzeichnet, wobei sie
                     stets zeilenweise dargestellt werden. Die einzelnen Zeilen werden durch ein
                        <gi>row</gi>-Element gekenzeichnet. Jede Tabellenzeile <gi>row</gi>
                     unterteilt sich wiederum in mindestens eine oder auch mehrere Zellen bzw.
                     Spalten, die innerhalb des <gi>row</gi>-Elements durch ein
                     <gi>cell</gi>-Element ausgezeichnet sind. Der eigentliche Tabelleninhalt steht
                     innerhalb des <gi>cell</gi> -Elements.</p>
                  <p>Der Titel einer Tabelle wird mittels eines <gi>head</gi>-Elements
                     gekennzeichnet und steht innerhalb des <gi>table</gi>-Elements an erster
                     Stelle.</p>
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <table>
                        <head>Tabellentitel</head>
                        <row>
                           <cell>Erste Spalte</cell>
                           <cell>Zweite Spalte</cell>
                        </row>
                        <row>
                           <cell>Erste Spalte</cell>
                           <cell>Zweite Spalte</cell>
                        </row>
                     </table>
                  </egXML>
               </div>
               <div>
                  <head>Hervorhebungen</head>
                  <p>Xml ist nicht dazu bestimmt, typografische Informationen als solche mimetisch
                     zu kodieren. Die semantische Funktion typografischer Eigenschaften sollte
                     jedoch in einigen Fällen kodiert werden. Hervorhebungen im Kelsen-Text werden
                     mit dem Element <gi>hi</gi> ausgezeichnet. Generell sollten jedoch bsp.
                     Überschriften <hi rend="bold">semantisch</hi> bzw. entsprechend ihrer Funktion
                     als <gi>head</gi> getagt werden. <list>
                        <item>Sperrungen und/oder Schreibungen mit Versalien wie sie in Typoskripten
                           häufig vorkommen</item>
                        <item>sowie Schreibungen mit Kaptitälchen</item>
                        <item>sowie Unterstreichungen</item>
                     </list>sollten in der Regel sämtlich mit <gi>hi</gi> ausgezeichnet werden, da
                     sie tatsächlich bloße Hervorhebungen darstellen. Es wäre – wenn nötig –
                     möglich, diese Kodierung durch <att>rend</att>-Attribute weiter zu
                     differenzieren, falls unterschiedliche Hervorhebungen verschiedene Funktionen erfüllen sollten.</p>
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <text>
                        <body>
                           <div>
                              <p>[...]<hi>selbstverständlich</hi> und unproblematisch war, daß es
                                    <hi>einer</hi> besonderen [...]</p>
                           </div>
                        </body>
                     </text>
                  </egXML>
               </div>
               <div>
                  <head>Seitenwechsel</head>
                  <p>Seitenwechsel werden erhalten und sollten im nomralfall keiner Bearbeitung
                     bedürfen. Grundsätzlich werden die Seitenwechsel mit einem <gi>pb</gi>-Element
                     markiert. Innerhalb eines Attributs <att>n</att> sind die Seitenzahlen der
                     neuen Seite (pb=pagebegin) als Attributwert hinterlegt, das
                     <att>facs</att>-Attribut verweist auf die zugehörige Abbildung, während
                        <att>xml:id </att>die zugehörige Id enthält.</p>
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <text>
                        <body>
                           <div>
                              <pb facs="#facs_6" n="6" xml:id="img_0006"/>
                           </div>
                        </body>
                     </text>
                  </egXML>
               </div>
            </div>
            <div>
               <head>Entiäten</head>
               <p>Die edierten Texte enthalten bzw. referenzieren oder erwähnen Entitäten, die in
                  verschiedene Klassen eingeteilt werden können. Das Markieren dieser Entitäten
                  ermöglicht es, sie als solche vom umgegebenden Text zu unterscheiden und mit einer
                  Indexansetzung zu verlinken, um so z.B. das Auffinden von Entitäten – equivalent
                  zur Funktion eines Registers – zu vereinfachen.</p>
               <p>Es folgt eine Liste der im Text zu referenzierenden Entitäten, deren Tagging stets
                  durch das <gi>rs</gi>-Attribut mit <att>type</att> und <att>ref</att> erfolgt.</p>
               <div>
                  <head>Literaturangaben</head>
                  <p>Literaturangaben werden mittels des Elements <gi>rs</gi> und des
                        <att>type</att>=<val>lit</val> ausgezeichnet.</p>
                  <p>Um Literaturangaben, die auf die gleichen Quellen verweisen, miteinander in
                     Beziehung zu setzen, wird den <gi>rs</gi>-Elementen ein <att>ref</att>-Attribut
                     zugewiesen, dass auf die Zotero-Id des refrerenzierten Textes verweist.</p>
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <text>
                        <body>
                           <div>
                              <p>
                                 <rs type="lit" ref="zotero id">
                                    <rs type="person" ref="#p123">Gerhard Anschütz</rs>, Die
                                    Verfassung des Deutschen Reichs vom 11. August 1919, 14. Aufl.,
                                    Berlin 1933, 30–21. </rs>
                              </p>
                           </div>
                        </body>
                     </text>
                  </egXML>
               </div>
               <div>
                  <head>Gesetzesangaben</head>
                  <p>Analog zu der Literatur werden auch Gesetzesangaben mittels eines
                     <gi>rs</gi>-Elements ausgezeichnet. Eine Spezifizierung findet hier mit dem
                        <att>type</att>-Attribut und dem Wert "<val>statute</val>" statt.</p>
                  <p>Im <att>key</att>-Attribut wird die Id des Gesetzestextes aus dem
                     entsprechenden Index referenziert.</p>
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <text>
                        <body>
                           <div>
                              <p> Die referenzierte Stelle, <rs type="statute"
                                    ref="id des Gesetztestextes"> B-VG Art 1, Abs 15, Z 19</rs>,
                                 existiert vermutlich nicht. </p>
                           </div>
                        </body>
                     </text>
                  </egXML>
               </div>
               <div>
                  <head>Institutionen</head>
                  <p>Institutionen werden mittels des <gi>rs</gi>-Element und dem
                        <att>type</att>=<val>institution</val> als solche gekennzeichnet. Mittel des
                        <att>ref</att>-Attributs wird auf die Id der entsprechenden Person im Index
                     verwiesen.</p>
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <text>
                        <body>
                           <div>
                              <p>Der <rs ref="#i123" type="instituion">Gerichtshof</rs> untersteht
                                 dem <rs ref="#i123" type="institution"
                                 >Wirtschaftsministerium</rs>.</p>
                           </div>
                        </body>
                     </text>
                  </egXML>
               </div>
               <div>
                  <head>Personen</head>
                  <p>Personennamen und inderekte Nennungen von Personen werden mittels de
                        <gi>rs</gi>-Element und dem <att>type</att>=<val>person</val> als solche
                     gekennzeichnet. Dabei wird nicht zwischen Vor- und Nachname, Titel o.ä.
                     unterschieden. Mittel des <att>ref</att>-Attributs wird auf die Id der
                     entsprechenden Person im Index verwiesen.</p>
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <text>
                        <body>
                           <div>
                              <p>Die oben genannte <rs ref="#p123" type="person">Person</rs>
                                 verweist auf <rs ref="#g123" type="person">Kelsen</rs>.</p>
                           </div>
                        </body>
                     </text>
                  </egXML>
               </div>
               <div>
                  <head>Begriffserleuterungen/Abkürzungen</head>
                  <p>Erläuterungsbedürftige Begriffe und Abkürzungen werden mittels eines
                        <gi>rs</gi>-Elements mit dem <att>type</att>=<val>term</val> als solche
                     gekennzeichnet. Mittels der <att>ref</att>-Attributs wird auf die Id der
                     entsprechenden Ansetzung im Index verwiesen.</p>
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <text>
                        <body>
                           <div>
                              <p>irgendein Text <rs type="term" key="bv_term_123">B-VG</rs> weiterer
                                 Text</p>
                           </div>
                        </body>
                     </text>
                  </egXML>
               </div>
            </div>
            <div>
               <head>Texteingriffe/Konjekturen</head>
               <p>Editorische Eingriffe in den Text werden mit dem Element <gi>corr</gi> markiert.
                  Das gilt nicht bei offensichtlichen, geringfügigen Fehlen wie Buchstabendrehern.
                  Diese werden stillschweigend emendiert.</p>
               <p>Bei schwererwiegenderen Eingriffen ist es notwendig, den ursrprünglichen Text des
                  Dokuments zu dokumentieren. In solchen Fällen, wird das <gi>corr</gi>-Element
                  verwendet, das den korrigierten Text zu taggen, auf das ein <gi>sic</gi>-Element
                  folgt, das wiederum den Originaltext dokumentiert.</p>
               <egXML xmlns="http://www.tei-c.org/ns/Examples">
                  <body>
                     <div>
                        <p>Es ist in dieser Situatuion notwendig den Bundestag zu
                              <corr>vertagen</corr><sic>befragen</sic></p>
                     </div>
                  </body>
               </egXML>
            </div>
            <div>
               <head>Textgenetische/Textkritische Anmerkungen</head>
               <p>Ziel der editorischen Arbeit ist es, den lesbaren Text der letzten Schicht des
                  Dokuments zur Verfügung zu stellen. Neben dieser Herstellung des lesbaren Textes
                  gilt es jedoch auch Momente ihre Entstehung zu dokumentieren. Solche Phänomene
                  können unterteil werden in: <list>
                     <item n="1">Bearbeitungschritte, die die Textgestalt direkt verändern
                        (Streichungen, Einfügungen, Ersetzungen)</item>
                     <item n="2">Bearbeitungschritte, die den bestehenden Text metasprachlich
                        kommentieren (Anmerkungen am Rand, etc.)</item>
                  </list> Während im ersten Fall das Resultat der Bearbeitung in den Haupttext
                  einfließt und der der Bearbeitung vorausliegende Zustand in einem Kommentar
                  festgehalten wird, wird im zweiten Falle das Resultat – die Anmerkung – nur im
                  Kommentar festgehalten. </p>
               <p>Ein solcher Kommentar der Editor:innen besteht in beiden Fällen aus einem
                     <gi>note</gi>-Element das den Inhalt des editorischen/textgenetischen
                  Kommentars enthält (durch den <att>type</att>
                  <val>editor</val> markiert). Um den Referenzbereich des Kommentars im
                  kommentierten Text – also seine betreffende ›Stelle‹ – zu markieren wird ein
                  zusätzliches Anchor-Element verwendet: Das <gi>anchor</gi>-Element mit dem
                     <att>type</att>=<val>editor</val> markiert stets den <hi rend="bold"
                     >Beginn</hi> der Stelle, das <gi>note</gi>-Element, das den Kommentar-Text
                  enhält, ihr <hi rend="Bold">Ende</hi>. Um diese Relation eindeutig zu kodieren,
                  erhalten beide Elemente – über das Framework automatisiert – eine Id. Die des
                     <gi>anchor</gi>-Elements wird mit den Suffix ›_s‹ (für ›start‹) die des
                     <gi>note</gi>-Elements mit dem Suffix ›_e‹ (für ›end‹) versehen.</p>
               <p>Kommentare im Dokument selbst, wie sie im zweiten Fall auftreten, werden zusätlich
                  von einem <gi>note</gi>-Element umschlossen, dass ein <att>type</att>-Attribut mit
                  dem Wert <val>original</val> erhält. Im ersten Fall wird gestrichener oder
                  überschriebener Text von einem <gi>del</gi>-Element umschlossen, während
                  hinzugefügter oder überschreibender Text durch ein <gi>add</gi>-Element
                  umschlossen wird.</p>
               <egXML xmlns="http://www.tei-c.org/ns/Examples">
                  <body>
                     <div>
                        <p>Die Republik Deutschösterreich ist ein freier Bund <anchor type="editor"
                              xml:id="a_1222_s"/> der souveränen Länder <note type="editor"
                              xml:id="a_1222_e">
                              <rs type="person" ref="p_0001">Kelsen</rs> am Rand: <note
                                 type="original">Artikel?</note>; aus: <del>souveräner Länder</del>
                           </note> ; Sie besteht aus neun selbstständigen Bundesländern. </p>
                        <p>Es ist unter diesen <anchor type="editor" xml:id="e_1236_s"/>Umständen
                           jedoch <anchor type="editor" xml:id="e_1235_s"/>weder ratsam noch nötig,
                              <note type="editor" xml:id="e_1235_e">
                              <rs type="person" ref="p_0001">Falser</rs> am Rand (mit Anstreichung):
                                 <note type="original">möglich?</note>
                           </note> die Bundesversammlung einzuberufen. <note type="editor"
                              xml:id="e_1236_e">
                              <persName key="p_0001">Kelsen</persName> aus: <del>Bedingungen nicht
                                 verpflichtend, die Bundesversammlung zu Rate zu ziehen.</del>
                           </note>
                        </p>
                     </div>
                  </body>
               </egXML>
            </div>
            <div xml:id="structure_ids">
               <head>Indizes/Ids</head>
               <p>Um effektiv mit Xml zu arbeiten und Datenkonsitenz zu gewährleisten, ist es nötig,
                  zum Zwecke der Referenzierung auf Ids zurückzugreifen. Solches Ids können auf
                  verwendet werden, um verschiedenste Entitäten zu referenzieren. Grob lassen sich
                  zwei verschiedene Klassen von Referenzen ausmachen.</p>
               <div>
                  <head>Xml-interne Referenzen</head>
                  <p>Innerhalb der Xml-Dateien, kann ein Xml-Element auf ein anderes, mit einer Id
                     versehenes Element verweisen. So verweist beispielsweise das
                     <gi>app</gi>-Element mittels des Wertes von <att>from</att> auf das
                        <gi>anchor</gi>-Element, das den Anfang der Stelle markiert. Das ist
                     möglich, weil das <gi>anchor</gi>-Element über eine Id verfügt, die in seinem
                        <att>xml:id</att>-Attribut zu finden ist. Solche Ids, die innerhalb eines
                     Xml-Dokuments deklariert werden, sollten <hi rend="bold">ausschließlich über
                        die im Framework zur Verfügung gestellten Funktionen generiert werden</hi>,
                     da das Zuweisen der gleichen Id an zwei verschiedene Elemente innerhalb eines
                     Dokumentes invalides Xml erzeugt.</p>
               </div>
               <div>
                  <head>Referenzen auf externe Quelllen</head>
                  <p>Innerhalb der Xml-Dateien, kann auf Entitäten verwiesen werden, deren
                     Index-Ansetzungen nicht in Xml-Dateien gespeichert sind. Wir verwenden zwei
                     Datenbanken für das Erfassen und Speichern von Daten:<list>
                        <item><hi rend="bold">Baserow</hi>, eine Excell ähnliche Datenbank, wird
                           verwendet, um Personen, Gesetze, Institutionen und die Dokumente der
                           Edition selbst zu indizieren. Die Verwaltung und Erzeugung von Ids
                           verläuft dort, wenn ein neuer Eintrag angelegt wird, automatisiert.
                           Fehlende Entitäten müssen währen der manuellen Bearbeitung des Xml von
                           den Bearbeiter:innen stetig ergänzt werden. Die automatisch generierte Id
                           befindet sich stets im Feld „bv_id“</item>
                        <item><hi rend="bold">Zotero</hi>, eine komplexe bibliographische Datenbank,
                           wird verwendet, um Quellen der Sekundärliteatur zu verwalten.</item>
                     </list>
                  </p>
                  <p>Das auffinden der korrekten Id für eine Referenz auf einen der durch die
                     Datenbanken repräsentierten Indizes ist über das Framwork integriert, was in
                     den meisten Fällen das konsultieren der Datenbank überflüssig machen
                     sollte.</p>
               </div>
               <div>
                  <table>
                     <row>
                        <cell role="label">Dokumente der Edition</cell>
                        <cell role="data">Die Ids der edierten Dokumente befinden sich in der
                           entsprechenden <ref
                              target="https://baserow.acdh-dev.oeaw.ac.at/database/421/table/2289"
                              >Baserow-Datenbank</ref> und im allerersten Element (<gi>TEI</gi>) der
                           Xml-Datei, die dem Dokument entspricht.</cell>
                     </row>
                     <row>
                        <cell role="label">alle div</cell>
                        <cell role="data">Die Id befindet sich im <att>xml:id</att> des Elements.
                           Sie wird automatisch über das Framework generiert.</cell>
                     </row>
                     <row>
                        <cell role="label">Seitenwechsel im Original &lt;pb&gt;</cell>
                        <cell role="data">Die Id befindet sich im <att>xml:id</att> des Elements.
                           Sie wird automatisch in der Xml-Datei zur Verfügung gestellt.</cell>
                     </row>
                     <row>
                        <cell role="label">Absätze/Paragraphen</cell>
                        <cell role="data">Die Id befindet sich im <att>xml:id</att> des Elements.
                           Sie wird automatisch über das Framework generiert.</cell>
                     </row>
                     <row>
                        <cell role="label"><gi>anchor</gi> zur Markierung/Referenzierung von
                           Stellen</cell>
                        <cell role="data">Die Id befindet sich im <att>xml:id</att> des Elements.
                           Sie wird automatisch über das Framework generiert.</cell>
                     </row>
                     <row>
                        <cell role="label">Personen</cell>
                        <cell role="data">Die Ids der Personen befinden sich in der entsprechenden
                              <ref
                              target="https://baserow.acdh-dev.oeaw.ac.at/database/421/table/2290"
                              >Baserow-Datenbank</ref>. Das Framework integriert eine Funtkion, die
                           das Konsultieren der Datenbank in den meisten Fällen überflüssig
                           macht.</cell>
                     </row>
                     <row>
                        <cell role="label">Gesetze</cell>
                        <cell role="data">Die Ids der Gesetze befinden sich in der entsprechenden
                              <ref
                              target="https://baserow.acdh-dev.oeaw.ac.at/database/421/table/2588"
                              >Baserow-Datenbank</ref>. Das Framework integriert eine Funtkion, die
                           das Konsultieren der Datenbank in den meisten Fällen überflüssig
                           macht.</cell>
                     </row>
                     <row>
                        <cell role="label">Sachbegriffe</cell>
                        <cell role="data">Die Ids Sachbegriffe befinden sich in der entsprechenden
                              <ref
                              target="https://baserow.acdh-dev.oeaw.ac.at/database/421/table/2589"
                              >Baserow-Datenbank</ref>.Das Framework integriert eine Funtkion, die
                           das Konsultieren der Datenbank in den meisten Fällen überflüssig
                           macht.</cell>
                     </row>
                     <row>
                        <cell role="label">Literaturangaben</cell>
                        <cell role="data">Die Ids von Literaturangaben stammen aus der
                           Zotero-Datenbank. Das Framework integriert eine Funtkion, die das
                           Konsultieren der Datenbank in den meisten Fällen überflüssig
                           macht.</cell>
                     </row>
                  </table>
               </div>
            </div>
         </div>
         <!--
         <div xml:id="manual" xml:lang="de">
            <head>Handbuch zu den Aktionen der Editionsumgebung</head>
            <p>Das folgende Handbuch umfasst eine detaillierte Erläuterung der einzelnen Aktionen in
               der Editionsumgebung und soll den Editor*innen einen Überblick über deren Anwendung,
               Funktionen und XML-Kodierung geben und damit als konkretes Nachschlagewerk dienen.
               Für die Bearbeitung von Texten und Registern wurden zwei separate Frameworks
               entwickelt, die die jeweils notwendigen Aktionen umfassen (ediarum.hkw.edit und
               ediarum.hkw.register). Jede Aktion erhält innerhalb der Frameworks eine individuelle
               ID, die auch in der XML-Struktur des folgenden Handbuchs zu finden ist. Sie dient dem
               schnelleren Auffinden der Aktionen im Falle einer notwendigen Überprüfung,
               Aktualisierung oder Anpassung. Die ID-Struktur folgt stets dem Muster
               "action_[Aktionsname]".<lb/>Das folgende Handbuch ist untergliedert in Fließtext- und
               Register-Aktionen. Der Aufbau eines Handbucheintrags lautet wiefolgt:</p>
            <div xml:id="action_Muster">
               <table>
                  <head>Aktionsname</head>
                  <row>
                     <cell role="label">Fundort</cell>
                     <cell role="data"><hi rend="bold">Menü/Kontextmenü/Symbolleiste</hi>: Menüpunkt
                        -&gt; Menüpunkt -&gt; ...*</cell>
                  </row>
                  <row>
                     <cell role="label">Aktionsbeschreibung</cell>
                     <cell role="data">Popup-Text zur Aktion aus der Anwendung</cell>
                  </row>
                  <row>
                     <cell role="label">Anwendungsfall</cell>
                     <cell role="data">Wann wird jene Aktion angewendet?</cell>
                  </row>
                  <row>
                     <cell role="label">Anwendungsbeispiel</cell>
                     <cell role="data">Wie wird die Aktion angwendet/durchgeführt? Schrittweise
                        Beschreibung des Vorgehens**</cell>
                  </row>
                  <row>
                     <cell role="label">XML-Code/ X-Path-Code/...***</cell>
                     <cell role="data">
                        <egXML xmlns="http://www.tei-c.org/ns/Examples">Codebeispiel</egXML>
                     </cell>
                  </row>
                  <row>
                     <cell role="label">Code-Erläuterung</cell>
                     <cell role="data">Erläuterungen zu Funktion und Zusammensetzung des Codes und
                        zur Bedeutung der einzelnen Code-Elemente</cell>
                  </row>
               </table>
               <p>* Um ein schnelles Auffinden der einzelnen Aktionen zu gewährleisten, bietet der
                  Punkt "Fundort" eine kurze Beschreibung. Hierbei wird zwischen drei
                  unterschiedlichen Menüs im Oxygen XML Editor unterschieden:<lb/>1) <hi rend="bold"
                     >Menü</hi>: Bezeichnet die Menüleiste am obersten Rand des Fensters. Hier
                  lassen sich unter dem Menüpunkt "ediarum" vor allem allgemeinere Aktionen
                  finden.<lb/>2) <hi rend="bold">Kontextmenü</hi>: Bezeichnet das Menü, das sich
                  durch Rechtsklick mit der Maus öffnen lässt. Hier finden sich häufig genutzte
                  Aktionen, die eine schnellere Bearbeitung der Texte ermöglichen soll.<lb/>3) <hi
                     rend="bold">Symbolleiste</hi>: Bezeichnet die Menüleiste unmittelbar über dem
                  Texteditor (bzw. unter der XPath-Suchleiste). Hier finden sich jegliche Aktionen,
                  die für die Bearbeitung bzw. Auszeichnung von Texten und Registern benötigt
                  werden.</p>
               <p>** Wichtige Anmerkungen zu einer Aktion werden im jeweiligen Handbucheintrag mit
                     <hi rend="bold">!WICHTIG!</hi> eingeleitet und sollten für eine korrekte
                  Anwendung stets berücksichtigt werden.</p>
               <p>*** Umfasst, wenn nicht anders angegeben, ausschließlich den XML-Code, der durch
                  die jeweilige Aktion generiert wird. Einen umfassenden Überblick über die
                  übergreifende Struktur, Verschachtelung und Hierachie des XML-Dokuments bietet das
                  Kapitel <ref target="#structure">Datenstruktur</ref>.</p>
            </div>
            <div xml:id="manualBasics">
               <head>GRUNDSÄTZLICH GILT ...</head>
               <p> Bei der Verwendung der Editionsumgebung gilt grundsätzlich... </p>
               <p>
                  <hi rend="bold">... AKTIONEN IMMER RÜCKGÄNGIG MACHEN</hi>
               </p>
               <p>Wenn Unsicherheiten nach der Nutzung einer Aktion bestehen, diese bitte vor
                  jeglicher weitere Aktivität zunächst immer rückgängig (<hi rend="bold">Strg +
                     Z</hi>) machen. Dies verhindert Fehler im zugrundeliegenden XML-Dokument und
                  damit nachträgliche und gegebenenfalls zeitintensive Korrekturgänge.</p>
               <p>
                  <hi rend="bold">... AKTIONEN NICHT DOPPELT AUSFÜHREN</hi>
               </p>
               <p>Wenn Unsicherheiten nach der Nutzung einer Aktion bestehen, diese bitte immer
                  rückgängig (<hi rend="bold">Strg + Z</hi>) machen. Eine doppelte Ausführung einer
                  Aktion ersetzt die vorherige Ausführung nicht, sondern führt zu einer ungewollten
                  Dopplung der Tags im XML-Dokument, die im Nachgang manuell korrigiert werden
                  muss.</p>
               <p>
                  <hi rend="bold">... DEN GESAMTEN ZU KENNZEICHNENDEN TEXT MARKIEREN</hi>
               </p>
               <p>Im Falle von notwendigen Markierungen vor Einsatz einer Aktion den gesamten
                  auszuzeichnenden Text auf einmal markieren (Leerzeichen oder ungewollte Zeichen
                  dabei stets auslassen!). Wenn ein Textteil vergessen werden sollte, die Aktion vor
                  erneuter Ausführung immer rückgängig machen (<hi rend="bold">Strg + Z</hi>) und
                  erneut ausführen, um doppelt ausgezeichnete Textstellen und damit spätere
                  Korrekturgänge zu vermeiden.</p>
               <p>
                  <hi rend="bold">...SCHNELLTASTEN FESTLEGEN</hi>
               </p>
               <p>Der Oxygen XML Editor ermöglicht die Einstellung individueller
                  Schnelltastenkombinationen, die einen schnellen Zugriff bzw. Abruf der Aktionen
                  ermöglichen und damit den Arbeitsfluss erleichtern kann. Hierfür im Menü unter
                  "Optionen" auf "Tastaturkürzel..." klicken, die Aktion in der Liste suchen und
                  mittels Doppelklick auf den Aktionsnamen das Fenster zum Festlegen/Ändern der
                  Schnelltastenkomination öffnen. Die Schnelltastenkombination eingeben und mit "OK"
                  bestätigen. Das Menüfenster abermals durch Klicken auf "OK" schließen, da sonst
                  die Änderungen nicht übernommen werden. War die Änderung erfolgreich, wird die
                  festgelegte Schnelltastenkombination neben dem jeweiligen Aktionsnamen im Menü
                  angezeigt.</p>
               <p>
                  <hi rend="bold">... DEN TEXTMODUS KONSULTIEREN</hi>
               </p>
               <p>Im Falle von Unsicherheiten oder möglichen Fehlern sollte stets der Textmodus,
                  sprich das XML-Dokument, im Oxygen XML Editor konsultiert werden. Ein Blick in die
                  XML-Daten gibt zumeist schnellere Rückschlüsse auf Fehler im Autorenmodus und kann
                  damit nachträgliche Korrekturzeit verringern. Dieses Kapitel umfasst neben den
                  Aktionen zusätzlich eine Beschreibung zu den verwendeten XML-Tags. Zusätzlich
                  umfasst das Kapitel <ref target="#structure">Datenstruktur</ref> Informationen zur
                  übergreifenden XML-Struktur. Für grundlegende Informationen zu XML siehe außerdem
                  das Kapitel <ref target="#xml_structure">Grundlegendes zu XML</ref>.</p>
               <p>
                  <hi rend="bold">... ÄNDERUNGEN ÜBER DEN TEXTMODUS SCHEMAKONFORM HALTEN</hi>
               </p>
               <p>Die Bearbeitung der Dateien direkt über den Textmodus (und damit direkt im XML)
                  statt den Autorenmodus ist möglich und ausdrücklich erlaubt! Diese muss jedoch
                  stets <hi rend="bold">schemakonform</hi> stattfinden, d.h. mit dem Schema und der
                  festgelegten XML-Hierarchie übereinstimmen, um Fehler und nachträgliche
                  Korrekturgänge zu vermeiden. Bei Unsicherheiten hinsichtlich der Struktur immer
                  zunächst dieses Handbuch konsultieren. XML-Elemente bitte nicht willkürlich
                  einfügen. Sowohl dieses Kapitel zu den einzelnen Aktionen des Frameworks als auch
                  das Kapitel <ref target="#structure">Datenstruktur</ref> bieten einen umfassenden
                  Überblick.</p>
            </div>
         </div>
         -->
         <div xml:id="appendix">
            <head>Appendix</head>
            <schemaSpec ident="tei_b_vg" start="TEI" prefix="undefined" targetLang="de" docLang="de">
               <moduleRef key="header"
                  include="teiHeader fileDesc titleStmt publicationStmt sourceDesc abstract change encodingDesc
                  editionStmt revisionDesc profileDesc principal funder idno availability creation licence"/>
               <!-- remove lb after asking  -->
               <moduleRef key="core"
                  include=" rs lb p title note bibl date hi item pb publisher corr list author 
                  respStmt resp head biblScope address pubPlace author title graphic street 
                  unclear postCode"/>
               <moduleRef key="textstructure" include="TEI text body div"/>
               <moduleRef key="tei"/>
               <moduleRef key="transcr" include="facsimile surface"/>
               <!-- todo: wir brauchen  für die physDesc eigentlich noch daten, was jetzt dort erfasst wird, gehort eigentlich mit zum msContent-->
               <moduleRef key="msdescription"
                  include="msDesc history  msIdentifier msContents physDesc institution repository 
                  msItem objectDesc handDesc origin"/>
               <moduleRef key="namesdates"
                  include="persName orgName placeName country settlement"/>
               <moduleRef key="figures" include="cell table row"/>
               <!--<moduleRef key="textcrit" include="app"/>-->
               <moduleRef key="linking" include="anchor"/>
               <!-- stricter usage for address -->
               <constraintSpec ident="address_usage" scheme="schematron">
                  <constraint xmlns:s="http://purl.oclc.org/dsdl/schematron">
                     <s:rule context="//tei:address">
                        <s:report test="not(parent::tei:funder)">&lt;address&gt; schould be only used in a funder element in the header!</s:report>
                     </s:rule>
                  </constraint>
               </constraintSpec>
               <!-- stricter usage for country and settlement -->
               <constraintSpec ident="country_settlement_usage" scheme="schematron">
                  <constraint xmlns:s="http://purl.oclc.org/dsdl/schematron">
                     <s:rule context="//tei:country|//tei:settlement">
                        <s:report test="not(parent::tei:placeName)">&lt;country&gt; &amp; &lt;settlement&gt; schould be only used in a funder element in the header!</s:report>
                     </s:rule>
                  </constraint>
               </constraintSpec>
               <!-- stricter usage for placeName, persName, orgName, msDesc -->
               <constraintSpec ident="other_headerelements_usage" scheme="schematron">
                  <constraint xmlns:s="http://purl.oclc.org/dsdl/schematron">
                     <s:rule context="//tei:placeName|//tei:persName|//tei:orgName|//tei:msDesc">
                        <s:let name="el_name" value="local-name(.)"/>
                        <s:report test="not(ancestor::tei:teiHeader)">&lt;"<s:value-of select="$el_name"/>"&gt; schould be only used the teiHeader!</s:report>
                     </s:rule>
                  </constraint>
               </constraintSpec>
               <elementSpec ident="idno">
                  <desc>contains an identifier equaling the document in different sources</desc>
                  <attList>
                     <attDef ident="type" mode="replace">
                        <valList type="closed">
                           <valItem ident="transkribus_doc">
                              <desc>id of the document in transkribus</desc>
                           </valItem>
                           <valItem ident="transkribus_collection">
                              <desc>transkribus collection id of the document</desc>
                           </valItem>
                           <valItem ident="goobi">
                              <desc>goobi-id of the document</desc>
                           </valItem>
                        </valList>
                     </attDef>
                  </attList>
               </elementSpec>
               <elementSpec ident="revisionDesc" mode="change">
                  <classes mode="change">
                     <memberOf key="att.global" mode="delete"/>
                  </classes>
                  <attList>
                     <attDef ident="status" mode="replace">
                        <valList type="closed">
                           <valItem ident="draft">
                              <desc>Document is still being changed.</desc>
                           </valItem>
                           <valItem ident="done">Document is ready to be published online.</valItem>
                        </valList>
                     </attDef>
                  </attList>
               </elementSpec>
               <elementSpec ident="unclear" mode="change">
                  <desc>Markiert eine nicht oder nur vage entzifferbare Stelle.</desc>
                  <classes mode="change">
                     <memberOf key="att.global" mode="delete"/>
                     <memberOf key="att.editLike" mode="delete"/>
                     <memberOf key="att.dimensions" mode="delete"/>
                     <memberOf key="att.ranging" mode="delete"/>
                  </classes>
               </elementSpec>
               <elementSpec ident="anchor" mode="change">
                  <desc>Element bestimmt im Falle einer editorischen Anmerkung den Beginn der Stelle.</desc>
                  <classes mode="change">
                     <memberOf key="att.global" mode="delete"/>
                  </classes>
                  <attList>
                     <attDef ident="subtype" mode="delete"/>
                     <attDef ident="type" mode="replace" usage="req">
                        <valList type="closed">
                           <valItem ident="editor">
                              <desc>Beginn der Stelle</desc>
                           </valItem>
                        </valList>
                     </attDef>
                     <attDef ident="xml:id" mode="replace" usage="req">
                        <datatype>
                           <dataRef key="teidata.text"/> 
                        </datatype>
                     </attDef>
                  </attList>
               </elementSpec>
               <elementSpec ident="sourceDesc" mode="change">
                  <desc>Dokument auf dem der Inhalt der Datei basiert.</desc>
                  <content>
                     <elementRef key="msDesc" minOccurs="1" maxOccurs="1"/>
                  </content>
               </elementSpec>
               <elementSpec ident="availability" mode="change">
                  <desc>Dokument auf dem der Inhalt der Datei basiert.</desc>
                  <content>
                     <elementRef key="licence"/>
                  </content>
               </elementSpec>
               <!-- better create a check her to prevent section-divs in section-divs … -->
               <elementSpec ident="div" mode="change">
                  <desc>enthält textuelle Einheiten</desc>
                  <content>
                     <alternate maxOccurs="unbounded" minOccurs="0">
                        <elementRef maxOccurs="unbounded" minOccurs="0" key="p"/>
                        <elementRef maxOccurs="unbounded" minOccurs="0" key="list"/>
                        <elementRef maxOccurs="3" minOccurs="0" key="head"/>
                        <elementRef maxOccurs="unbounded" minOccurs="0" key="div"/>
                        <elementRef maxOccurs="unbounded" minOccurs="0" key="pb"/>
                        <!--<elementRef maxOccurs="unbounded" minOccurs="0" key="app"/>-->
                     </alternate>
                  </content>
                  <attList>
                     <attDef ident="type" mode="replace" usage="req">
                        <valList type="closed">
                           <valItem ident="article">
                              <desc>Artikel eines Gesetzes</desc>
                           </valItem>
                           <valItem ident="section">
                              <desc>erste Strukturebene eines Haupttextes (Hauptkapitel)</desc>
                           </valItem>
                           <valItem ident="main">
                              <desc>einziges direktes child von body</desc>
                           </valItem>
                        </valList>
                     </attDef>
                  </attList>
               </elementSpec>
               <!-- Anpassung des note Elementes -->
               <!-- todo: type=editor->xml:id non-empty -->
               <!-- placement? -->
               <!-- hand? -->
               <elementSpec ident="note" mode="change">
                  <classes mode="change">
                     <memberOf key="att.global" mode="delete"/>
                     <memberOf key="att.pointing" mode="delete"/>
                     <memberOf key="att.written" mode="delete"/>
                     <memberOf key="att.anchoring" mode="delete"/>
                     <memberOf key="att.placement" mode="delete"/>
                  </classes>
                  <attList>
                     <attDef ident="subtype" mode="delete"/>
                     <attDef ident="type" mode="change" usage="req">
                        <valList type="closed" mode="change">
                           <valItem mode="add" ident="editor">
                              <desc>Das Element enhält einen Apparateintrag der Editor:innen.</desc>
                           </valItem>
                           <valItem mode="add" ident="original">
                              <desc>Das Element enthält einen im edierten Dokument hinzugefügten
                                 Kommentar der Autor:innen.</desc>
                           </valItem>
                        </valList>
                     </attDef>
                     <attDef ident="xml:lang" mode="delete"/>
                     <attDef ident="xml:base" mode="delete"/>
                     <attDef ident="xml:space" mode="delete"/>
                     <attDef ident="ana" mode="delete"/>
                     <attDef ident="change" mode="delete"/>
                     <attDef ident="facs" mode="delete"/>
                     <attDef ident="corresp" mode="delete"/>
                     <attDef ident="synch" mode="delete"/>
                     <attDef ident="sameAs" mode="delete"/>
                     <attDef ident="copyOf" mode="delete"/>
                     <attDef ident="next" mode="delete"/>
                     <attDef ident="prev" mode="delete"/>
                     <attDef ident="exclude" mode="delete"/>
                     <attDef ident="select" mode="delete"/>
                     <attDef ident="rend" mode="delete"/>
                     <attDef ident="style" mode="delete"/>
                     <attDef ident="rendition" mode="delete"/>
                     <attDef ident="cert" mode="delete"/>
                     <attDef ident="resp" mode="delete"/>
                     <attDef ident="source" mode="delete"/>
                     <attDef ident="n" mode="delete"/>
                     <attDef ident="xml:id" mode="change" usage="rec">
                        <desc>Sollte durch das Framework generiert werden.</desc>
                     </attDef>
                     <attDef ident="subtype" mode="delete"/>
                  </attList>
               </elementSpec>
               <!-- Anpassung von rs -->
               <elementSpec ident="rs" mode="change">
                  <classes mode="change">
                     <memberOf key="att.global" mode="delete"/>
                     <memberOf key="att.naming" mode="delete"/>
                     <memberOf key="att.sortable" mode="delete"/>
                     <memberOf key="att.declarable" mode="delete"/>
                     <memberOf key="att.docStatus" mode="delete"/>
                     <memberOf key="att.sortable" mode="delete"/>
                  </classes>
                  <attList>
                     <attDef ident="ana" mode="delete"/>
                     <attDef ident="ref" mode="delete"/>
                     <attDef ident="subtype" mode="delete"/>
                     <attDef ident="type" mode="replace" usage="req">
                        <valList type="closed">
                           <valItem ident="person">
                              <desc>rs referentiert Person über den Key in der Datenbank</desc>
                           </valItem>
                           <valItem ident="institution">
                              <desc>rs referentiert Institution über den Key in der Datenbank</desc>
                           </valItem>
                           <valItem ident="lit">
                              <desc>rs referentiert Literatur über den Key in der
                                 Zotero-Datenbank</desc>
                           </valItem>
                           <valItem ident="statute">
                              <desc>rs referentiert Gesetzestext über den Key in der
                                 Datenbank</desc>
                           </valItem>
                           <valItem ident="term">
                              <desc>rs referentiert Begriff/Abkürzung über den Key in der
                                 Datenbank</desc>
                           </valItem>
                        </valList>
                     </attDef>
                     <!-- todo: only non empty string with certain attribs! -->
                     <attDef ident="key" mode="replace" usage="req">
                        <datatype>
                           <dataRef key="teidata.text"/> 
                        </datatype>
                     </attDef>
                  </attList>
               </elementSpec>
               <!-- Anpassnung hi-Element -->
               <!-- Hervorhebungen differenzieren oder als emphasis vereinheitlichen? -->
               <elementSpec ident="hi" mode="change">
                  <classes mode="change">
                     <memberOf key="att.global.rendition"/>
                     <memberOf key="att.global" mode="delete"/>
                  </classes>
                  <attList>
                     <attDef ident="rendition" mode="delete"/>
                     <attDef ident="style" mode="delete"/>
                     <attDef ident="rend" mode="change">
                        <desc>Beschreibt, wie der
                           entsprechende Textteil hervorgehoben ist.</desc>
                        <valList type="closed" mode="change">
                           <!--
                              <valItem mode="add" ident="smaller">
                                 <desc >kleinere Schrift</desc>
                              </valItem>
                              <valItem mode="add" ident="underlined">
                                 <desc>Unterstrichen</desc>
                              </valItem>
                              <valItem mode="add" ident="majuscule">
                                 <desc>Majuskeln oder Kapitälchen</desc>
                              </valItem>
                              <valItem mode="add" ident="spaced">
                                 <desc>Gesperrt / Leerzeichen zwischen den Lettern</desc>
                              </valItem>
                           -->
                           <valItem mode="add" ident="emphasis">
                              <desc>Hervorhebung im Dokument (Majuskeln, Kapitälchen, Unterstreichungen, fette Type)</desc>
                           </valItem>
                        </valList>
                     </attDef>
                     <attDef ident="hand" mode="delete"/>
                  </attList>
               </elementSpec>
               <!-- Anpassnung pb-Element -->
               <elementSpec ident="pb" mode="change">
                  <classes mode="change">
                     <memberOf key="att.breaking" mode="delete"/>
                     <memberOf key="att.edition" mode="delete"/>
                     <memberOf key="att.spanning" mode="delete"/>
                  </classes>
                  <attList>
                     <attDef ident="facs" mode="change" usage="req">
                        <datatype>
                           <dataRef key="teidata.pointer"/>
                        </datatype>
                     </attDef>
                     <attDef ident="n" mode="change">
                        <desc>Die Nummer der Seite, auf das sich das pb-Element bezieht (automatisch
                           generiert).</desc>
                     </attDef>
                     <attDef ident="xml:id" mode="change" usage="req">
                        <desc>automatisch generierte id (img)</desc>
                     </attDef>
                     <attDef ident="ana" mode="delete"/>
                     <attDef ident="change" mode="delete"/>
                     <attDef ident="corresp" mode="delete"/>
                     <attDef ident="synch" mode="delete"/>
                     <attDef ident="sameAs" mode="delete"/>
                     <attDef ident="copyOf" mode="delete"/>
                     <attDef ident="next" mode="delete"/>
                     <attDef ident="prev" mode="delete"/>
                     <attDef ident="exclude" mode="delete"/>
                     <attDef ident="select" mode="delete"/>
                     <attDef ident="rend" mode="delete"/>
                     <attDef ident="style" mode="delete"/>
                     <attDef ident="rendition" mode="delete"/>
                     <attDef ident="cert" mode="delete"/>
                     <attDef ident="resp" mode="delete"/>
                     <attDef ident="source" mode="delete"/>
                     <attDef ident="type" mode="delete"/>
                     <attDef ident="subtype" mode="delete"/>
                     <attDef ident="xml:lang" mode="delete"/>
                     <attDef ident="xml:base" mode="delete"/>
                     <attDef ident="xml:space" mode="delete"/>
                  </attList>
               </elementSpec>
               <!-- Anpassung von body -->
               <elementSpec ident="body" mode="change">
                  <classes mode="change">
                     <memberOf key="att.global" mode="delete"/>
                  </classes>
                  <attList>
                     <attDef ident="decls" mode="delete"/>
                     <attDef ident="ana" mode="delete"/>
                     <attDef ident="change" mode="delete"/>
                     <attDef ident="facs" mode="delete"/>
                     <attDef ident="corresp" mode="delete"/>
                     <attDef ident="synch" mode="delete"/>
                     <attDef ident="sameAs" mode="delete"/>
                     <attDef ident="copyOf" mode="delete"/>
                     <attDef ident="next" mode="delete"/>
                     <attDef ident="prev" mode="delete"/>
                     <attDef ident="exclude" mode="delete"/>
                     <attDef ident="select" mode="delete"/>
                     <attDef ident="rend" mode="delete"/>
                     <attDef ident="style" mode="delete"/>
                     <attDef ident="rendition" mode="delete"/>
                     <attDef ident="cert" mode="delete"/>
                     <attDef ident="resp" mode="delete"/>
                     <attDef ident="source" mode="delete"/>
                  </attList>
               </elementSpec>
               <elementSpec ident="ptr" mode="delete"/>
               <elementSpec ident="date" mode="change">
                  <attList>
                     <attDef ident="when" mode="change" usage="rec"/>
                     <attDef ident="notBefore-iso" mode="change" usage="rec"/>
                     <attDef ident="notBefore" mode="delete"/>
                     <attDef ident="notAfter-iso" mode="change" usage="rec"/>
                     <attDef ident="notAfter" mode="delete"/>
                     <attDef ident="subtype" mode="delete"/>
                     <attDef ident="type" mode="delete"/>
                     <attDef ident="confidence" mode="delete"/>
                     <attDef ident="max" mode="delete"/>
                     <attDef ident="min" mode="delete"/>
                     <attDef ident="atMost" mode="delete"/>
                     <attDef ident="atLeast" mode="delete"/>
                     <attDef ident="scope" mode="delete"/>
                     <attDef ident="precision" mode="delete"/>
                     <attDef ident="quantity" mode="delete"/>
                     <attDef ident="extent" mode="delete"/>
                     <attDef ident="unit" mode="delete"/>
                     <attDef ident="instant" mode="delete"/>
                     <attDef ident="evidence" mode="delete"/>
                     <attDef ident="datingMethod" mode="delete"/>
                     <attDef ident="datingPoint" mode="delete"/>
                     <attDef ident="to-custom" mode="delete"/>
                     <attDef ident="from-custom" mode="delete"/>
                     <attDef ident="notAfter-custom" mode="delete"/>
                     <attDef ident="notBefore-custom" mode="delete"/>
                     <attDef ident="when-custom" mode="delete"/>
                     <attDef ident="to-iso" mode="delete"/>
                     <attDef ident="from-iso" mode="delete"/>
                     <attDef ident="when-iso" mode="delete"/>
                     <attDef ident="to" mode="delete"/>
                     <attDef ident="from" mode="delete"/>
                     <attDef ident="period" mode="delete"/>
                     <attDef ident="calendar" mode="delete"/>
                     <attDef ident="key" mode="delete"/>
                     <attDef ident="ref" mode="delete"/>
                     <attDef ident="ana" mode="delete"/>
                     <attDef ident="source" mode="delete"/>
                     <attDef ident="resp" mode="delete"/>
                     <attDef ident="cert" mode="delete"/>
                     <attDef ident="change" mode="delete"/>
                     <attDef ident="facs" mode="delete"/>
                     <attDef ident="select" mode="delete"/>
                     <attDef ident="exclude" mode="delete"/>
                     <attDef ident="prev" mode="delete"/>
                     <attDef ident="next" mode="delete"/>
                     <attDef ident="copyOf" mode="delete"/>
                     <attDef ident="corresp" mode="delete"/>
                     <attDef ident="synch" mode="delete"/>
                     <attDef ident="sameAs" mode="delete"/>
                     <attDef ident="rendition" mode="delete"/>
                     <attDef ident="style" mode="delete"/>
                     <attDef ident="rend" mode="delete"/>
                     <attDef ident="n" mode="delete"/>
                     <attDef ident="xml:base" mode="delete"/>
                     <attDef ident="xml:space" mode="delete"/>
                     <attDef ident="xml:lang" mode="delete"/>
                  </attList>
               </elementSpec>
               <!-- Anpassung des bibl Elements
               <elementSpec ident="bibl" mode="change">
                  <classes mode="change">
                     <memberOf key="att.declarable" mode="delete"/>
                     <memberOf key="att.docStatus" mode="delete"/>
                     <memberOf key="att.global" mode="delete"/>
                     <memberOf key="att.sortable" mode="delete"/>
                     <memberOf key="att.typed" mode="delete"/>
                     <memberOf key="att.declarable" mode="delete"/>
                     <memberOf key="att.docStatus" mode="delete"/>
                     <memberOf key="att.global" mode="delete"/>
                     <memberOf key="att.sortable" mode="delete"/>
                  </classes>
                  <attList>
                     <attDef ident="sameAs" usage="rec">
                        <desc versionDate="2023-02-01" xml:lang="de">Weist auf den entsprechenden
                           Eintrag in der Zotero-Datenbank oder des Gesetzesregisters des Projekts
                           hin.</desc>
                        <datatype>
                           <dataRef key="teidata.pointer"/>
                        </datatype>
                     </attDef>
                     <attDef ident="subtype" mode="delete"/>
                     <attDef ident="type" mode="change" usage="req">
                        <valList type="closed" mode="change">
                           <valItem mode="add" ident="statute">
                              <desc>Das Element bezieht sich auf ein Gesetz.</desc>
                           </valItem>
                           <valItem mode="add" ident="lit">
                              <desc>Verweis auf sonstige Literatur.</desc>
                           </valItem>
                        </valList>
                     </attDef>
                  </attList>
               </elementSpec> -->
               <!-- Anpassung von persName
               <elementSpec ident="persName" mode="change">
                  <attList>
                     <attDef ident="key" mode="change" usage="rec">
                        <desc>Verweist auf den Eintrag der Person im Personenregister.</desc>
                     </attDef>
                     <attDef ident="role" mode="change" usage="opt">
                        <desc>Rolle einer Person</desc>
                        <valList type="closed" mode="replace">
                           <valItem ident="acdh:hasDigitisingAgent">
                              <desc>Person verantwortlich für Digitalisierung</desc>
                           </valItem>
                           <valItem ident="acdh:hasContributor">
                              <desc>allgemein beteiligte Person</desc>
                           </valItem>
                           <valItem ident="acdh:hasPrincipialInvestigator">
                              <desc>Projektleitung</desc>
                           </valItem>
                        </valList>
                     </attDef>
                     <attDef ident="type" mode="delete"/>
                     <attDef ident="subtype" mode="delete"/>
                     <attDef ident="rend" mode="delete"/>
                     <attDef ident="style" mode="delete"/>
                     <attDef ident="rendition" mode="delete"/>
                     <attDef ident="facs" mode="delete"/>
                     <attDef ident="change" mode="delete"/>
                     <attDef ident="cert" mode="delete"/>
                     <attDef ident="resp" mode="delete"/>
                     <attDef ident="source" mode="delete"/>
                     <attDef ident="synch" mode="delete"/>
                     <attDef ident="corresp" mode="delete"/>
                     <attDef ident="sameAs" mode="delete"/>
                     <attDef ident="copyOf" mode="delete"/>
                     <attDef ident="next" mode="delete"/>
                     <attDef ident="prev" mode="delete"/>
                     <attDef ident="exclude" mode="delete"/>
                     <attDef ident="select" mode="delete"/>
                     <attDef ident="ana" mode="delete"/>
                     <attDef ident="calendar" mode="delete"/>
                     <attDef ident="period" mode="delete"/>
                     <attDef ident="when" mode="delete"/>
                     <attDef ident="notBefore" mode="delete"/>
                     <attDef ident="notAfter" mode="delete"/>
                     <attDef ident="from" mode="delete"/>
                     <attDef ident="to" mode="delete"/>
                     <attDef ident="when-iso" mode="delete"/>
                     <attDef ident="notBefore-iso" mode="delete"/>
                     <attDef ident="notAfter-iso" mode="delete"/>
                     <attDef ident="from-iso" mode="delete"/>
                     <attDef ident="to-iso" mode="delete"/>
                     <attDef ident="when-custom" mode="delete"/>
                     <attDef ident="notBefore-custom" mode="delete"/>
                     <attDef ident="from-custom" mode="delete"/>
                     <attDef ident="notAfter-custom" mode="delete"/>
                     <attDef ident="to-custom" mode="delete"/>
                     <attDef ident="datingPoint" mode="delete"/>
                     <attDef ident="datingMethod" mode="delete"/>
                     <attDef ident="evidence" mode="delete"/>
                     <attDef ident="instant" mode="delete"/>
                     <attDef ident="full" mode="delete"/>
                     <attDef ident="nymRef" mode="delete"/>
                  </attList>
               </elementSpec>-->
               <!-- Anpassung des app Elements 
               <elementSpec ident="app" mode="change">
                  <desc>Umfasst eine editorische Fußnote, die einen textgenetischen oder
                     textkritischen Inhalt hat.</desc>
                  <attList>
                     <attDef ident="from" mode="change" usage="req"/>
                     <attDef ident="to" mode="change" usage="req"/>
                     <attDef ident="loc" mode="delete"/>
                     <attDef ident="xml:lang" mode="delete"/>
                     <attDef ident="xml:base" mode="delete"/>
                     <attDef ident="xml:space" mode="delete"/>
                     <attDef ident="ana" mode="delete"/>
                     <attDef ident="change" mode="delete"/>
                     <attDef ident="facs" mode="delete"/>
                     <attDef ident="corresp" mode="delete"/>
                     <attDef ident="synch" mode="delete"/>
                     <attDef ident="sameAs" mode="delete"/>
                     <attDef ident="copyOf" mode="delete"/>
                     <attDef ident="next" mode="delete"/>
                     <attDef ident="prev" mode="delete"/>
                     <attDef ident="exclude" mode="delete"/>
                     <attDef ident="select" mode="delete"/>
                     <attDef ident="rend" mode="delete"/>
                     <attDef ident="style" mode="delete"/>
                     <attDef ident="rendition" mode="delete"/>
                     <attDef ident="cert" mode="delete"/>
                     <attDef ident="resp" mode="delete"/>
                     <attDef ident="source" mode="delete"/>
                     <attDef ident="to" mode="delete"/>
                     <attDef ident="type" mode="delete"/>
                  </attList>
               </elementSpec>-->
            </schemaSpec>
         </div>
      </body>
   </text>
</TEI>
